.hero {
    width: 100%;
    height: auto;
    background-color: #121D37;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 2px;
    position: relative;

    h1 {
        font-size: calc(3rem);
        padding: 2 auto;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
    }
}

.actionBtn {
    padding: 15px 12px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 4, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 3px 10px 0 rgb(31, 122, 241);

}

.actionBtn:hover {
    background-color: rgba(15, 18, 161, 0.856);

}

.heropart {
    width: calc(400px);
    height: calc(800px/2);

    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
}

.heropart1 {
    background: radial-gradient(red, blue, violet);
    border-radius: 50%;
    box-shadow: 0 0 50px 0 rgba(76, 0, 255, 0.74),
        0 0 20px 0 blue, 0 0 20px 0 blue, 0 0 20px 0 rgb(31, 122, 241);
    position: relative;
}

.imageHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
}