.branding {
    flex-flow: row wrap;
    height: 400px;
    place-items: center;
}

h3 {
    font-size: calc(2rem);
    color: #CAE8FF;
}

.contain {
    width: calc(90%);
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    gap: 8px;



}

.logopart {
    min-width: 200Px;
    width: 40%;
    height: 90px;
    position: relative;
}

.logoimg {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: contain;
}


@media (max-width: 768px) {
    .branding {
        height: auto;
    }

    .contain {
        width: calc(90%);
        height: auto;
    }

    .logopart {
        min-width: 200Px;
        width: 80%;
        height: 90px;

    }
}