.loginBtn {
    padding: 8px 12px;
    margin-left: 3px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 4, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.loginBtn:hover {
    background-color: rgba(15, 18, 161, 0.856);

}