.About {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px auto;
    h2{
        font-size: calc(2.5rem);
        color: rgb(0, 4, 255);
        margin-bottom: 20px;
    }

    p{
        text-wrap: wrap;
        max-width: calc(80%);
        color: white;
        text-align: center;
        font-size: calc(1.3rem);
        
    }
    .infotext{
        text-wrap: wrap;
        max-width: calc(80%);
        text-align: center;
        
    }
}