.About {
    width: 100%;
    height: 400px;
    background-color: ;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    h2{
        font-size: calc(2.5rem)
    }

    p{
        text-wrap: wrap;
        max-width: calc(80%);
        color: red;
        text-align: center;
        font-size: calc(1.5rem)
        
    }
    .infotext{
        text-wrap: wrap;
        max-width: calc(80%);
        color: red;
        text-align: center;
        font-size: calc(1.5rem)
    }
}