.navDiv {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #101728;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 -1px 10px 2px rgb(14, 33, 58);
    overflow: hidden;
}

.logo1 {
    display: none;

}

.menu {
    display: none;
}

.logo {
    position: relative;
    left: 3px;
    top: 0;
    width: 100px;
    height: 80px;

}

.imglogo {
    height: 100px;
    max-height: 100px;
    object-fit: cover;
}

.loginBtn {
    padding: 8px 12px;
    margin-left: 3px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 4, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.loginBtn:hover {
    background-color: rgba(15, 18, 161, 0.856);

}

img {
    width: 130%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 30px;
    position: absolute;
    right: 4px;
    top: 25px;
}

ul li {
    margin-top: 6px;
    font-size: calc(1rem);
    cursor: pointer;
    font-family: arial;
    color: #CAE8FF;

}

.item::after {
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background-color: rgb(0, 4, 255);
    transition: .2s ease-in;
    border-radius: 2px;


}

.item:hover::after {
    width: 100%;
}

.item:hover::first-letter {
    transition: .2s ease-in-out
}

.item:hover::first-letter {
    color: rgb(0, 4, 255);
    font-weight: bold;

}


@media (max-width: 768px) {
    .resposiveMenu {
        display: flex;
        height: 80px;
        width: 100%;
        background-color: rgb(2, 8, 59);
        justify-content: center;
        align-items: center;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 3;
        box-shadow: 0 -1px 10px 2px rgb(14, 33, 58);
    }

    .logo1 {
        display: block;

    }

    .navDiv {
        display: none;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 300px;
        background-color: rgb(2, 8, 59);
        position: relative;
        padding: 0 auto;
        left: -320px;
        transition: .4s ease-in-out;
    }

    .navDivActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
        width: 100%;
        background-color: rgba(2, 8, 59, 0.788);
        position: sticky;
        padding: 0 auto;
        left: 0;
        top: 0;
        transition: .4s ease-in-out;
        z-index: 2;
    }

    .menu,
    .activeMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        position: fixed;
        left: 5px;
        top: 5px;
        right: 100%;
        bottom: 100%;
        transition: .3s ease-in;
        cursor: pointer;
        padding: 0 auto;
        z-index: 6;
    }

    .ligne2 {
        margin: 4px 0;
    }

    .ligne1,
    .ligne2,
    .ligne3 {
        width: 80%;
        height: 6px;
        background: rgb(57, 60, 255);
        border-radius: 5px;
        position: static;
        top: 50%;
        left: 50;
        transform: translate(50% 50%)
    }

    .activeMenu .ligne2 {
        display: none;
    }

    .activeMenu .ligne1 {
        margin-top: 5px;
        transform: rotate(-50deg);

    }

    .activeMenu .ligne3 {
        margin-bottom: 5px;
        transform: rotate(50deg);
    }


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-right: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    .logo1 {
        position: absolute;
        right: 10px;
        width: 100px;
        height: 10%;

    }

    .logo {
        display: none;
    }
}