.navDiv {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(2, 8, 59);
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    position: relative;
}


.menu {
    display: none;
}

.logo {
    position: relative;
    left: 3px;
    width: 100px;
    height: 100%;

}

img {
    width: 130%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 30px;
    position: absolute;
    right: 4px;
    top: 25px;
}

ul li {
    margin: 0 10px;
    font-size: 23px;
    cursor: pointer;
}

.item::after {
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background-color: rgb(0, 4, 255);
    transition: .2s ease-in;
    border-radius: 2px;


}

.item:hover::after {
    width: 100%;
}

.item:hover::first-letter {
    transition: .2s ease-in-out
}

.item:hover::first-letter {
    color: rgb(0, 4, 255);
    font-weight: bold;

}

.loginBtn {
    padding: 8px 12px;
    margin-left: 3px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 4, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.loginBtn:hover {
    background-color: rgba(15, 18, 161, 0.856);

}

@media (max-width: 768px) {
    .navDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 300px;
        background-color: rgb(2, 8, 59);
        position: relative;
        padding: 0 auto;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, -50%);
        transition: .3s ease-in;
        cursor: pointer;
        padding: 0 2px;
        margin-left: 30px;
        margin-top: 30px
    }


    .ligne1,
    .ligne2,
    .ligne3 {
        width: 40px;
        height: 6px;
        background: green;
        border-radius: 5px;
        top: -50%;
        left: -50%;
        transform: translate(50% 50%);
    }




    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-right: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    .logo {
        position: relative;
        right: -10px;
        bottom: 5px;
        width: 100px;
        height: 10%;

    }
}