.serviceH {
    font-size: calc(2rem);
}

.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 100%;
    border-top: solid rgb(128, 158, 255) 1px;
}

.serviceCard {
    width: 100%;
    height: 500px;
    background-color: green;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 2;
    place-items: center;
    justify-content: space-around;
    border-bottom: solid black 6px;
    position: relative;

}

.serviceCard2 {
    width: 100%;
    height: 500px;
    background-color: green;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    gap: 2;
    place-items: center;
    justify-content: space-around;
    border-bottom: solid black 6px;
    position: relative;

}








.serviceImageContainer {
    width: calc(500px);
    height: 400px;
    position: relative;
    background-color: red;


}

.serviceImage {
    width: 90%;
    height: calc(90%);
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);



}

.serviceInfo {
    background-color: blue;
    max-width: 100%;
    height: 300px;
    min-height: 200px;
    padding: 20px 0;
}

.sousTitre {
    max-width: 520px;
    font-size: calc(20px);
    margin: 20px 0;
}

.titreService {
    max-width: 500px;
    font-size: calc(3rem - 6px);
}