.serviceH {
    font-size: calc(2.5rem);
    margin: 20px 0;
    color: #CAE8FF;
}

.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    place-items: center;
    max-width: 100%;
    border-top: solid rgb(128, 158, 255) 1px;
}

.serviceCard {
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: row;
    gap: 2;
    place-items: center;
    justify-content: space-around;
    /* border-bottom: solid black 6px; */
    position: relative;

}

.serviceCard2 {
    flex-direction: row-reverse;

}


.serviceImageContainer {
    width: calc(400px);
    height: calc(400px);
    position: relative;


    .serviceImage {
        width: calc(90%);
        max-width: 400px;
        height: calc(80%);
        position: absolute;
        object-fit: cover;
        border-radius: 10px;
        min-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }


}


.serviceInfo {
    max-width: 100%;
    height: 300px;
    min-height: 200px;
    padding: 20px 0;
}

.sousTitre {
    max-width: 520px;
    font-size: calc(20px);
    margin: 20px 0;
}

.titreService {
    max-width: 500px;
    font-size: calc(3rem - 6px);
    color: #CAE8FF;
}

@media (max-width: 768px) {
    .services {
        height: auto;
        padding: 20px 0;
        overflow: hidden;
    }

    .serviceCard {
        flex-flow: column;
        justify-content: space-evenly;
        border-top: solid black 6px;
        position: relative;
        background-color: red;
        height: 424px;


    }

    .serviceInfo {
        height: 50px;
        background-color: green;
        padding: 5px;


    }

    .serviceCard2 {
        flex-direction: column;

    }

    .titreService {
        max-width: 90%;
        font-size: calc(2rem - 4px);
        margin-left: 30px;

    }

    .sousTitre {
        max-width: 90%;
        font-size: calc(20px);
        margin-left: 10px;
    }

    .serviceImage {
        width: 100%;
        height: 200px;
        object-fit: contain;

    }

    .serviceImageContainer {
        width: calc(390px);
        height: 200px;
        overflow: hidden;
        border-radius: 15px;
    }
}